body {
    margin: auto;
    background-color: whitesmoke;
    color: white
}

.header {
    position: relative;
    width: 100%;
    height: 100px;
    background-color: rgb(148, 29, 195);
}

.header > img {
    position: absolute;
    height: 80%;
    top:10%;
    left: 10%   
}

.header > p {
    position: absolute;
    font-size: 220%;
    text-align: center;
    width: 100%
}

.textcontainer {
    display: flex;
    justify-content: space-evenly;
    height: 50px;
    background-color: brown
}

.textcontainer > input {
    width: 10%;
}

.textcontainer > button {
    width: 10%;
    text-align: center;
    font-size: 100%;
    background-color: white
}

.textcontainer > label {
    /* width: 20%; */
    background-color: white
}

.imgcontainer{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: blue
}

@media only screen and (max-width: 580px) {
    .header > p {
        text-align: end;
        /* font-size: 175% */
    } 
    .header > img {
        width:75px;
        height: 50%;
        left: 0%;
        top:25%
    }
}